.container {
    
    width: 65%; 
    height: auto;
    background: rgba(220, 185, 234, 0.078);
    /*add flexbox style*/
    display: flex; 
    flex-direction: row; 
    justify-content:space-around;
    flex-flow:Wrap;
    padding-top: 0%;
  
}

.box{
       
        width: 240px;
        height:95px;
        /**/margin-top: 70px;
        background: rgba(178, 89, 255, 0.148); 
        box-sizing: border-box;
        text-align:center;
        font-size: 20px;
        border-radius: 5%;
        padding-top: 2%;
        font-family: fantasy;
        color: black;
        text-decoration-line: none;
        font-weight: bolder;
        
        
       
    
    }
.box:hover{
    color: #9661ea;
    box-shadow: 0 0 5px #9661ea;
    -webkit-transform: scale(1.1);
    transform: scale(1);
  }
